@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 246 248;
    --foreground: 13 18 27;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 19 91 236;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 19 91 236;
    --radius: 0.5rem;
  }

  .dark {
    --background: 16 22 34;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 19 91 236;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 19 91 236;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background-light dark:bg-background-dark text-foreground font-display;
  }
}

.bg-mesh {
  background-color: #135bec;
  background-image: 
    radial-gradient(at 0% 0%, hsla(220,100%,60%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(230,100%,70%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(240,100%,60%,1) 0, transparent 50%);
}

.mesh-gradient {
  background-color: #f6f6f8;
  background-image: 
    radial-gradient(at 0% 0%, rgba(19, 91, 236, 0.05) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(19, 91, 236, 0.03) 0px, transparent 50%);
}

.dark .mesh-gradient {
  background-color: #101622;
  background-image: 
    radial-gradient(at 0% 0%, rgba(19, 91, 236, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(19, 91, 236, 0.05) 0px, transparent 50%);
}

